body{
    width: 100%;
}
.hero-content{
    text-align: center;
}
.hero-a{
    margin-top: 100px;
}
.product-group{
    display: flex;
}
p{
    color: black;
}
.hero-div{
    /* width: 500px; */
}
.hero-content-btn{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#btn{
    background-color: teal;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}