

#hero-section{
    text-align: center;
    margin-top: 200px;
}
#hero-head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
}
#hero-paragraph{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}